<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>252733070823-r72aq136t2v8pcq8an5238mfeo91v2db.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.252733070823-r72aq136t2v8pcq8an5238mfeo91v2db</string>
	<key>API_KEY</key>
	<string>AIzaSyDjOiKAQoKVVktmNed77Rb-zPowKay-85A</string>
	<key>GCM_SENDER_ID</key>
	<string>252733070823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>it.liceomascheroni.alberti.Mascheroni</string>
	<key>PROJECT_ID</key>
	<string>mascheroniofficialapp</string>
	<key>STORAGE_BUCKET</key>
	<string>mascheroniofficialapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:252733070823:ios:1700db82fb1b2eba</string>
	<key>DATABASE_URL</key>
	<string>https://mascheroniofficialapp.firebaseio.com</string>
</dict>
</plist>